.layout-home {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 24px 14px;
  height: 100vh;

  @media (min-width: map-get($breakpoints, 'md')) {
    padding: 25px 120px;
  }

  @media (min-width: map-get($breakpoints, 'md')) and (min-height: map-get($breakpoints, 'lg')) {
    padding: 120px;
  }
}
